<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
  </head>
  <body>
    {% if user != 'AnonymousUser' %} {{user}}
    <form method="POST" id="post-form">
      {% csrf_token %}
      <label for="password"
        >Password:<input type="password" name="password" id="p"
      /></label>
      <label for="cpassword"
        >Confirm password<input type="password" name="cpassword" id="cp"
      /></label>
      <input type="button" value="submit" onclick="comparePass();" />
    </form>
    {% else %}
    <form method="POST">
      {% if message %}
      <div class="error"><p>{{message}}</p></div>
      {% endif %}
      <label for="username"
        >Username:<input type="text" name="username" id=""
      /></label>
      <input type="submit" name="name" value="{{user}}" />
    </form>
    {% endif %}

    <script>
      comparePass();
      {
        if ($("#p") == $("#cp")) $("#post-form").submit();
        else alert("passwords do not match");
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
