<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/LoginRegister.css' %}" />
    <title>Chat application || Login or Register</title>
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form id="reg-form" action="/register" method="POST">
          <h1>Create Account</h1>
          <div class="social-container">
            <!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
          </div>
          <!-- <span>or use your email for registration</span> -->
          {% csrf_token %}
          <input type="text" placeholder="Name" name="name" />
          <input type="email" placeholder="Email" name="email" />
          <input
            type="password"
            id="pass"
            placeholder="Password"
            name="password"
          />
          <input type="password" id="cpass" placeholder="Confirm password" />
          <button type="button" onclick="my_function()">Sign Up</button>
        </form>
      </div>
      {{message}}
      <div class="form-container sign-in-container">
        <form action="/LoginRegister/" method="POST">
          <h1>Login</h1>
          <div class="social-container">
            <!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
          </div>
          <!-- <span>or use your account</span> -->
          {% csrf_token %} {% if not login %}
          <div class="error"><p>{{message}}</p></div>
          {% endif %}
          <input type="text" placeholder="Username" name="username" />
          <input type="password" placeholder="Password" name="password" />
          <a href="/changepassword">Forgot your password?</a>
          <button type="submit">Sign In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Register</h1>
            <p>
              To access the web based Web application please Register with your
              personal info
            </p>
            <button class="ghost" id="signIn">Already have an Account</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Login to access the web based chat application</p>
            <button class="ghost" id="signUp">Don't have a account</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      function my_function() {
        if ($("#pass").val() == $("#cpass").val()) {
          $("#reg-form").submit();
        } else {
          alert("password don't match");
        }
      }
    </script>

    <script src="{% static 'js/LoginRegister.js' %}"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
